/* css/main.css - style for front page */
@import "bootstrap.css";


body 
{
	background-color: #446;
	color: #FFF;
}

/* Section - middle */
div#middle
{
	background-color: #557; /* temporary -- just to distinguish it */
	min-height: 200px;
}

div#middle div#socialList
{
}

div#middle div#photos-carousel .img-expand
{
	width: 100%;
	height: 100%;
}