<!DOCTYPE html>

	<head>
		<title>The Last Candle - Owen R. Anderson</title>
		<link rel="stylesheet" href="css/main.css" />
		<script src="js/vendor/angular.js"></script>
		<script src="js/vendor/jquery.js"></script>
		<script src="js/vendor/bootstrap.js"></script>
	</head>
	<body ng-app="TLCApp">
		<div id="content" class="container-fluid" ng-controller="MainController">
			<div class="row">
				<div id="header" class="col-lg-12">
					The Last Candle
				</div>
			</div>
			<div class="row">
				<div id="socialList">
					<div class="social" ng-repeat="site in socialSites">
						<social-link site="site" class="col-xs-6 col-sm-3 col-md-2"></social-link>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="middle">
					<!-- Bootstrap-driven carousel -->
					<div id="photos-carousel" class="carousel slide row" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#photos-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#photos-carousel" data-slide-to="1"></li>
							<li data-target="#photos-carousel" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img class="img-expand" src="img/photos/01.jpg" />
								<div class="carousel-caption">
								</div>
							</div>
							<div class="item">
								<img class="img-expand" src="img/photos/02.jpg" />
								<div class="carousel-caption">
								</div>
							</div>
							<div class="item">
								<img class="img-expand" src="img/photos/03.jpg" />
								<div class="carousel-caption">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="footer" class="col-lg-12">
					&copy; Owen Anderson
				</div>
			</div>
		</div>
		
		<!-- scripts -->
		<script src="js/app.js"></script>
			
		<!-- controllers -->
		<script src="js/controllers/MainController.js"></script>
			
		<!-- directives -->
		<script src="js/directives/socialLink.js"></script>
	</body>
</html>
